<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HTTP2 Validator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
  </head>
  <body>

    <div class="row column text-center">
      <h1>HTTP2 Validator</h1>
      <p class="lead">
        A site to check http2 support for various websites
      </p>
    </div>

    <div class="row column">
      <form action='/validation' method="post">

        <% if @model[:errors] %>
          <div class="callout alert">
            <h5>Error</h5>
            <p>
              <%= @model[:errors] %>
            </p>
          </div>
        <% end %>

        <div class="input-group">
          <span class="input-group-label">https://</span>
          <input class="input-group-field" type="text" placeholder="Enter url here" name="website" value="<%= @model[:website] %>" />
          <div class="input-group-button">
            <input type="submit" class="button" value="Submit">
          </div>
        </div>
      </form>

      <% if @model[:website] %>
        <div class="row">
          <div class="large-2 medium-2 columns">
            <strong>Version:</strong>
          </div>
          <div class="large-10 medium-10 columns">
            <% if @model[:version] && !@model[:version].empty? %>
              <%= @model[:version] %>
            <% else %>
              Not Found
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="large-2 medium-2 columns">
            <strong>Advertised:</strong>
          </div>
          <div class="large-10 medium-10 columns">
            <% if @model[:protocols] && !@model[:protocols].empty? %>
              <%= @model[:protocols] %>
            <% else %>
              Not Found
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
</html>
